<section class="profile">
  <article>
    {{#if data.photoURL}}
    <img src="{{data.photoURL}}" alt="">
    {{else}}
    <img src="https://i.pinimg.com/236x/34/ed/c0/34edc01637abc9e85b9288cbed98e5ce--first-baby-pictures-baby-photos.jpg" alt="">
    {{/if}}
    {{#if owner}}
      <div>
        <form action="/users/{{data.username}}" method="post" enctype="multipart/form-data">
          <input type="text" name="username" id="" value="{{data.username}}">
          <input type="email" name="email" id="" value="{{data.email}}">
          <textarea name="bio" id="" rows="5">{{data.bio}}</textarea>
          <input type="file" name="image">
          <input type="submit" value="guardale">
        </form>
      </div>
    {{else}}
      <div>
        <h2>{{data.username}}</h2>
        <h3>{{data.email}}</h3>
        <p>{{data.bio}}</p>
      </div>
    {{/if}}
  </article>
  <article>
    {{#each posts}}
      <div class="card">
        <p>
          <a href="/users/{{this.user.username}}">
            {{this.user.username}}
          </a>
        </p>        
        <img src="{{this.imageURL}}" alt="">
        <p>{{this.text}}</p>        
      </div>
    {{/each}}
  </article>
</section>