<section class="newsfeed">
  <div>
    <div>
    <form action="/posts" method="post" enctype="multipart/form-data">
      <textarea name="text" id="" rows="5" placeholder="que hay de nuevo??"></textarea>
      <input type="file" name="image" id="">
      <input type="submit" value="postea 😜">
    </form>
  </div>
  <article>
    {{#each posts}}      
        <div class="card">
        <p>
          <a href="/users/{{this.user.username}}">
            {{this.user.username}}
          </a>
          <a href="/posts/detail/{{this._id}}">✚</a>          
        </p>        
        <img src="{{this.imageURL}}" alt="">
        <p>
          <span>{{this.text}}</span>
          <a href="/posts/like/{{this._id}}">
            {{#if this.like}}
            <button>Dislike</button>
            {{else}}
            <button>Like</button>
            {{/if}}
          </a>
        </p>        
      </div>      
    {{/each}}
  </article>
  </div>
</section>