<section class="newsfeed">
  <div>
    <div>
    <form action="/posts" method="post" enctype="multipart/form-data">
      <textarea name="text" id="" rows="5" placeholder="que hay de nuevo??"></textarea>
      <input type="file" name="image" id="">
      <input type="submit" value="postea 😜">
    </form>
  </div>
  <article>
    {{#each postitos}}      
        <div class="card">
        <p>
          <a href="/users/{{this._doc.user.username}}">
            {{this._doc.user.username}}
          </a>
          <a href="/posts/detail/{{this._doc._id}}">✚</a>          
        </p>        
        <img src="{{this._doc.imageURL}}" alt="">
        <p>
          <span>{{this._doc.text}}</span>
          <a href="/posts/like/{{this._doc._id}}">
            {{#if this._doc.like}}
            <button>Dislike</button>
            {{else}}
            <button>Like</button>
            {{/if}}
          </a>
        </p>        
      </div>      
    {{/each}}
  </article>
  </div>
</section>